/* Reset and basic styling */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: #fff;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    display: inline-block;
    background: #FF4060;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 25px;
    font-weight: bold;
}

.hero {
    background: url('https://via.placeholder.com/1200x600/ff4081/ffffff?text=MUSIC') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/angel.jpg);
}

.hero h1 {
    color: white;
    font-size: 100px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    font-family: Arial,sans-serif;
    font-weight: lighter;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    align-items: center;
}

.text1 {
    flex: 1;
    padding: 20px;
    font-size: 50px;
    margin: 100px;
    margin-top: 200px;
}

.text2{
    flex: 1;
    padding: 20px;
    font-size: 50px;
    margin: 150px;
    margin-top: 100px;
}
.content .text span {
    color: #f43353;
}

.content .image {
    flex: 1;
    padding: 20px;
}

.content .image img {
    width: 600px;
    border-radius: 15px;
    height: 800px;
}

.content .image1 img{
    width: 600px;
    border-radius: 15px;
    height: 800px;
    flex-direction: row-reverse;
    margin-bottom: 50px;
    margin: 100px;
}

.contentfull {
    background: url('https://via.placeholder.com/1200x600/ff4081/ffffff?text=Guitar') center/cover no-repeat;
    height: 700px;
    position: relative;
    color: white;
    background-image: url(../assets/img/raptis.png);
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: 1000px;
    padding-top: 20px;
    font-size: 50px;
}

.footer {
    background: linear-gradient(to right, #FF4060, rgba(255,51,51,1));
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    border-bottom: #ffffff49 2px solid;
    padding-bottom: 30px;
    margin-left: 10%;
    margin-right:10%;
    position: relative;
}

p{
  text-align: left;
}

.footer-content-2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right:10%;
}
